.create-note__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.input-label {
  align-self: baseline;
  font-weight: bold;
  padding: 0.5rem 0;
}

.create-note__form .form-input {
  border-radius: 5px;
  height: 2.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  font-size: 25px;
  height: 100%;
  resize: none;
}

.form-fieldset {
  display: flex;
  gap: 1rem;
}

.checkbox-input {
  width: 1.5rem;
}
